.bg-light-primary {
  background: rgba($primaryRgba, 0.1) !important;
  color: rgba($primaryRgba, 1) !important;
}
.bg-light-primary-nt {
  background: rgba($primaryRgba, 0.2) !important;
}
.bg-light-danger {
  background: rgba($danger, 0.1) !important;
  color: rgba($danger, 1) !important;
}
.bg-light-success {
  background: rgba($success, 0.1) !important;
  color: rgba($success, 1) !important;
}
.bg-light-info {
  background: rgba($info, 0.1) !important;
  color: rgba($info, 1) !important;
}
.bg-light {
  background-color: $white !important;
}

.bg-primary {
  background: $primary;
}
.bg-success {
  background: $success !important;
}
.bg-danger {
  background: $danger !important;
}
.bg-info {
  background: $info !important;
}
.bg-pink {
  background: $pink !important;
}
.bg-purple {
  background: $purple !important;
}
