.timeline_container {
  max-height: 300px;
  padding-left: 20px;
  .time_line {
    //   background-color: red;
    padding-bottom: 10px;
    display: flex;
    border-left: 1px solid $body-gray;
    &.no_border {
      border-left: none !important;
    }
    // align-items: center;
    h6 {
      font-weight: 600;
    }
    small {
      font-size: 12px;
    }
    .time_line_badge {
      content: "";
      .time_line_badge_inner {
        content: "";
        width: 12px;
        height: 12px;
        margin-right: 10px;
        border-radius: 50%;
        position: relative;
        left: -6px;
      }

      //   &::after {
      //     border-left: 1px solid green;
      //   }
    }
  }
}
