.ui_blocker {
  background-color: rgba($color: $black, $alpha: 0.3);
  position: absolute;
  height: calc(100% - 82px - 56px);
  width: 100%;
  z-index: 2;
  margin: 64px 0 58px 0;
  display: none;
  &.noPagination {
    height: calc(100% - 82px);
  }

  &.fullscreen {
    width: calc(100% - 271px) !important;
    left: 256px !important;
    position: fixed !important;
    height: 100% !important;
    top: 0 !important;
    display: none !important;
    // z-index: 999999 !important;
  }
  &.show {
    display: flex !important;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    span {
      margin-top: 10px;
      color: $white !important;
    }
  }
}
