.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    
}
.img{
    height: 100px;
    margin-bottom: 50px;
}
.login-header {
    font-size: 24px;
    margin-bottom: 20px;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-input {
    width: 300px;
    height: 40px;
    margin: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.login-button {
    margin-top: 20px;
    width: 150px;
    height: 40px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-button:hover {
    background-color: #0056b3;
}
.reg-link{
    margin-top: 20px;
}
.reg-button{
    font-style: italic;
    text-decoration: underline;
    background-color: transparent;
    border: none;
    color: black;
    cursor: pointer;
    font-size: 16px;
    margin: 0;
    padding: 0;
}