$white: #fff;
$body-gray: #e9e5e5;
$border-gray: #ced4da;
$black: #000;
$purple: #660066;
$appPrimary: #066;
// $appPrimary: red;
$text: $black;
$red: #dc3545;
$green: #1b9636;
$gray: rgb(207, 206, 206);

$box-shadow: 0 4px 24px 0 rgba($black, 0.1);
$border: 1px solid $border-gray;
$custom-shadow: 0 4px 8px 0;
$large-shadow: 0 4px 24px 0;
$btn-shadow: 0 4px 8px;
$primary: $appPrimary !important;
$danger: $red;
$warning: #ffff00;
$success: $green;
$secondary: #6c757d;
$primaryDark: rgb(0, 102, 102) !important;
$primaryRgba: $appPrimary;
$info: #19bbdb;
$purple: #640664;
$pink: #d30db2;
$blue: #0349fc;
$lemon: #a1fc03;
